{% extends 'base.html.twig' %}

{% block title %}Isaac's bravery - Saved Items
{% endblock %}

{% block body %}
	<h1 class="p-4 text-center text-white">Saved Item Set</h1>
	<div class="flex flex-wrap justify-center">
		{% for item in savedItemSet %}
			<div class="flex flex-col justify-center items-center w-[8rem] h-[8rem] bg-gray-800 m-4">
				<img src="{{ asset('images/items/' ~ item.filename) }}" alt="{{ item.name }}" class="w-16 h-16 object-cover mt-2">
				<p class="text-white">{{ item.name }}</p>
			</div>
		{% endfor %}

		
	</div>
	<a href="{{ path('app_random') }}" class="text-white p-4 bg-blue-500 rounded-lg mt-4">Retour</a>
{% endblock %}
