{% extends 'base.html.twig' %}

{% block title %}Isaac's Bravery - Your Profile
{% endblock %}

{% block body %}
	<div class="flex flex-col items-center justify-center">
		<h1 class="text-white text-[32px]">Welcome to your very own profile page</h1>
        
	</div>


{% endblock %}
