{% extends 'base.html.twig' %}

{% block title %}Isaac's Bravery - Accueil
{% endblock %}

{% block body %}

	<h1 class="p-4 text-[4rem] text-center">Synergies</h1>

	<div class="flex item-center justify-center">
		<div class="w-[72rem] h-[32rem] bg-gray-800 m-8">
			<div class="bg-slate-100 w-16 h-16"><img src="" alt="Item_img"></div>
		</div>
	</div>
{% endblock %}
