<footer class="bg-gray-800 text-gray-200 py-10 mt-auto">
	<div
		class="container mx-auto px-4">
		<!-- Section supérieure du footer -->
		<div
			class="flex flex-wrap justify-between">
			<!-- À propos de nous -->
			<div class="w-full sm:w-1/2 md:w-1/4 mb-6">
				<h3 class="font-bold text-lg mb-2">À propos de nous</h3>
				<p class="text-gray-400">
					Nous sommes des adorateurs du jeu
					<a href="#" class="hover:text-white">The Binding of Isaac</a>.
				</p>
			</div>

			<!-- Navigation rapide -->
			<div class="w-full sm:w-1/2 md:w-1/4 mb-6">
				<h3 class="font-bold text-lg mb-2">Navigation rapide</h3>
				<ul class="text-gray-400">
					<li>
						<a href="#" class="hover:text-white">Accueil</a>
					</li>
					<li>
						<a href="#" class="hover:text-white">Services</a>
					</li>
					<li>
						<a href="#" class="hover:text-white">Blog</a>
					</li>
					<li>
						<a href="#" class="hover:text-white">Contact</a>
					</li>
				</ul>
			</div>

			<!-- Contact -->
			<div class="w-full sm:w-1/2 md:w-1/4 mb-6">
				<h3 class="font-bold text-lg mb-2">Nous contacter</h3>
				<ul class="text-gray-400">
					<li>Cliquez
						<a href="#" class="hover:text-white text-blue-500">ici</a>
						pour remplir le formulaire afin de nous contacter.</li>
				</ul>
			</div>
		</div>

		<!-- Section inférieure du footer -->
		<div class="border-t border-gray-700 mt-8 pt-4 text-center">
			<p class="text-gray-500 text-sm">&copy; 2024 Isaac's Bravery Company. Tous droits réservés.</p>
		</div>
	</div>
</footer>
