<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		<link rel="stylesheet" href={{ asset('styles/app.css') }}>
	</head>
	<body class="bg-cover bg-center">

		{{ include('components/navbar/index.html.twig') }}
		<div> {% block body %}{% endblock %}
			</div>
			{{ include ('components/footer/index.html.twig') }}
		</body>
	</html>
