<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body
		class="min-h-screen flex flex-col bg-cover bg-center">
		{{ include('components/navbar/index.html.twig') }}

		<main class="flex-grow container mx-auto pb-10"> {% block body %}{% endblock %}
			</main>

			{{ include('components/footer/index.html.twig') }}
		</body>
	</html>

