<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<!-- Le body prend toute la hauteur de l'écran, et la mise en page est en flex pour la structure -->
	<body
		class="min-h-screen flex flex-col bg-cover bg-center">
		<!-- Navbar -->
		{{ include('components/navbar/index.html.twig') }}

		<!-- Zone principale avec un padding-bottom pour ne pas coller au footer -->
		<main class="flex-grow container mx-auto pb-10"> {% block body %}{% endblock %}
			</main>

			<!-- Footer -->
			{{ include('components/footer/index.html.twig') }}
		</body>
	</html>
