{% extends 'base.html.twig' %}

{% block title %}Edit Build
{% endblock %}

{% block body %}
	<div class="p-16 flex flex-row justify-start min-h-screen bg-gray-400 shadow-lg">
		<h1>Edit Build</h1>

		{{ include('build_user/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('app_build_user_index') }}">back to list</a>

		{{ include('build_user/_delete_form.html.twig') }}
	</div>
{% endblock %}
