{% extends 'base.html.twig' %}

{% block title %}New Build
{% endblock %}

{% block body %}
	<div class="p-16 flex flex-row justify-start min-h-screen bg-gray-400 shadow-lg">
		<h1>Create new Build</h1>

		{{ include('build_user/_form.html.twig') }}

		<a href="{{ path('app_build_user_index') }}">back to list</a>
	</div>
{% endblock %}
